# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

ezPP/Makefile

demos/ezPP-SDL/ezPPSDLTest.pro.user.fdf0b8f

demos/ezPP-SDL/ezPPSDLTest.pro.user

demos/ezPP-SDL/ezPPSDLTest.pro.user

ezPP/ezPP.pro.user

ezPP/ezPP.pro.user.fdf0b8f

ezPP/Makefile

ezPP/.qmake.stash

demos/ezPP-SDLtextured/ezPPSDLTextured.pro.user

demos/ezPP-SDL/ezPPSDLTest

demos/ezPP-SDL/Makefile

tests/tests.pro.user

*.autosave

*.stash

*.user

*.moc
